{% extends "main.html" %}
{% block header %}
<div class="jumbotron">
    <h1 align="center">Black Market Brawlers</h1>
</div>
{% endblock %}

{% block body %}
<div>
    <script src="/static/js/toggle.js"></script>
    <script src="/static/js/datacharts.js"></script>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#Champions" aria-controls="Champions" role="tab"
                                                  data-toggle="tab">Champions</a></li>
        <li role="presentation"><a href="#Bans" aria-controls="Bans" role="tab" data-toggle="tab">Bans</a></li>
        <li role="presentation"><a href="#Minions" aria-controls="Minions" role="tab" data-toggle="tab">Minions</a></li>
        <li role="presentation"><a href="#Items" aria-controls="Items" role="tab" data-toggle="tab">Items</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="Champions">
            <div class="container">
                <div class="row" align="center" style="padding-top : 20px">
                    <button class="btn btn-primary" type="button" id="regions-all" onclick="champRegionToggle()">Toggle All</button>
                    <div class="btn-group " role="group" data-toggle="buttons-checkbox">
                        {% for r in regions %}
                        <button class="btn btn-default" type="button" id={{ "champions-" + r }}> {{ r.upper() }} </button>
                        {% endfor %}
                    </div>
                </div>
                <div class="row" align="center" style="padding-top : 20px">
                    <button class="btn btn-primary" type="button" id="tiers-all" onclick="champTierToggle()">Toggle All</button>
                    <div class="btn-group " role="group" data-toggle="buttons-checkbox">
                        {% for t in tiers %}
                        <button class="btn btn-default" type="button" name="tier" id={{ "champions-" + t }}>{{ t.title() }}</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="row" align="center" style="padding-top : 20px">
                    <button class="btn btn-primary" type="button" id="champions-go" onclick="champQuery()">Go</button
                </div>
            </div>
            <style>

                rect {
                    fill: steelblue;
                }

                text {
                    fill: white;
                    font: 15px sans-serif;
                    text-anchor: end;
                }

                .panel-heading a:after {
                    font-family:'Glyphicons Halflings';
                    content:"\e114";
                    float: right;
                    color: grey;
                }

                .panel-heading a.collapsed:after {
                    content:"\e080";
                }
            </style>
            <div class="container" style="padding : 20px">
                <!--<div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5>
                                <a data-toggle="collapse" data-target="#champ-scatter-panel">
                                    Champion Scatter Plot
                                </a>
                            </h5>
                        </div>
                        <div class="panel-collapse collapse in" id="champ-scatter-panel">
                            <div class="panel-body" style="height : 600px; overflow : auto">
                                <svg id="champ-scatter-chart">
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>
                                    <a data-toggle="collapse" data-target="#champ-pickrate-panel">
                                        Champion Pick Rate
                                    </a>
                                </h5>
                            </div>
                            <div class="panel-collapse collapse in" id="champ-pickrate-panel">
                                <div class="panel-body" style="height : 515px; overflow : auto">
                                    <svg id="champ-pickrate-chart">
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>
                                    <a data-toggle="collapse" data-target="#champ-winrate-panel">
                                        Champion Win Rate
                                    </a>
                                </h5>
                            </div>
                            <div class="panel-collapse collapse in" id="champ-winrate-panel">
                                <div class="panel-body" style="height : 515px; overflow : auto">
                                    <svg id="champ-winrate-chart">
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>











            </div>


        </div>
        <div role="tabpanel" class="tab-pane fade" id="Bans">Hello</div>
        <div role="tabpanel" class="tab-pane fade" id="Minions">...</div>
        <div role="tabpanel" class="tab-pane fade" id="Items">...</div>
    </div>

    <script>

        function champRegionToggle(){
            toggle({{ regions|tojson|safe }}, "champions");
        }

        function champTierToggle(){
            toggle({{ tiers|tojson|safe }}, "champions");
        }

        function champQuery(){
            champBarChart( {{ regions|tojson|safe }}, {{ tiers|tojson|safe }}, '{{ url_for('get_results') }}', 'pickrate');
            champBarChart( {{ regions|tojson|safe }}, {{ tiers|tojson|safe }}, '{{ url_for('get_results') }}', 'winrate');
        }

    champBarChart( {{ regions|tojson|safe }}, {{ tiers|tojson|safe }}, '{{ url_for('get_results') }}', 'pickrate');
    champBarChart( {{ regions|tojson|safe }}, {{ tiers|tojson|safe }}, '{{ url_for('get_results') }}', 'winrate');
    </script>


</div>
{% endblock %}
