{% extends "main.html" %}
{% block header %}
<div class="jumbotron">
	<h1 align="center">Black Market Brawlers</h1>  
</div>
{% endblock %}

{% block body %}
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#Champions" aria-controls="Champions" role="tab" data-toggle="tab">Champions</a></li>
    <li role="presentation"><a href="#Bans" aria-controls="Bans" role="tab" data-toggle="tab">Bans</a></li>
    <li role="presentation"><a href="#Minions" aria-controls="Minions" role="tab" data-toggle="tab">Minions</a></li>
    <li role="presentation"><a href="#Items" aria-controls="Items" role="tab" data-toggle="tab">Items</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Champions">
		<div class="container">
			<div class="row" align="center" style="padding-top : 20px">
				<div class="btn-group " role="group" data-toggle="buttons-checkbox">
					<button class="btn btn-primary" type="button" id="regions-all" value="true">Toggle All</button>
					{% for r in regions %}
                    <button class="btn btn-default" type="button" id={{ r }} name="region" value={{ r }}>
                            {{ r.upper() }}
                    </button>
					{% endfor %}	
				</div>
				
				<script>
				$('#regions-all').click(function() {
					var regions = {{ regions|tojson|safe }}
					for (i in regions){
						$('#'+regions[i]).button('toggle');
					}
					$('#regions-all').button('reset');
				});
				</script>
			</div>
			<div class="row" align="center" style="padding-top : 20px">
				<div class="btn-group " role="group" data-toggle="buttons-checkbox">
					<button class="btn btn-primary" type="button" id="tiers-all">Toggle All</button>
				{% for t in tiers %}
					<button class="btn btn-default" type="button" name="tier" id={{ t }} >{{ t.title() }}</button>
				{% endfor %}	
				</div>
				
				<script>
				$('#tiers-all').click(function() {
				var tiers = {{ tiers|tojson|safe }}
				for (i in tiers){
					$('#'+tiers[i]).button('toggle');
				}
				});
				</script>
			</div>
			<div class="row"  align="center" style="padding-top : 20px">
				<button type="button" id="go" class="btn btn-primary" data-loading-text="loading stuff..." autocomplete="off">GO</button>
				<script>
					$('#go').click(function () {
					var orig_text = $(this).text()
					
					var regions = {{ regions|tojson|safe }}
					var tiers = {{ tiers|tojson|safe }}
					
					var query_regions = []
					var query_tiers = []
					
					for (i in regions){
						if ($('#'+regions[i]).hasClass('active')){
						query_regions.push(regions[i])
						}
					}
					
					for (i in tiers){
						if ($('#'+tiers[i]).hasClass('active')){
						query_tiers.push(tiers[i])
						}
					}
					
					$.ajax({
						type: 'POST',
						contentType: 'application/json',
						url: "/blackmarketbrawlers/query",
						data: JSON.stringify({
							regions : query_regions, 
							tiers: query_tiers
						}),
						success: function (data) {
							console.log(data.query_regions);
							console.log(data.query_tiers);
						},
						dataType: "json"
					});		
				  });			  
				</script>
				
			</div>
		</div>
	</div>
    <div role="tabpanel" class="tab-pane fade" id="Bans">Hello</div>
    <div role="tabpanel" class="tab-pane fade" id="Minions">...</div>
    <div role="tabpanel" class="tab-pane fade" id="Items">...</div>
  </div>
  
	<script>
		
  </script>
  
</div>
{% endblock %}
